{% extends 'common/base.html' %}
{% load static %}


{% block links %}{% endblock %}

{% block title %}
    <title>Data schemas</title>
{% endblock %}

{% block content %}
<section>
    <div class="col-lg-10">
        <div class="d-flex justify-content-between mb-4">
            <h2>Data schemas</h2>

            <div>
              <a class="btn green_btn"
               href="{% url 'schema_create' %}"
               id="new_schema_button"
               role="button">New Schema</a>
            </div>

        </div>
        <div>
            <table class="table table-bordered">
                <tr>
                    <td class="col-lg-1"><b>#</b></td>
                    <td class="col-lg-4"><b>Title</b></td>
                    <td class="col-lg-4"><b>Modified</b></td>
                    <td class="col-lg-3"><b>Actions</b></td>
                </tr>
                {% for schema in schemas %}
                <tr>
                    <td>{{schema.seq_number}}</td>
                    <td><a href="{% url 'schema_dataset' schema.pk %}">{{schema.name}}</a></td>
                    <td>{{schema.created_at|date:"Y-m-d"}}</td>
                    <td>
                      <a href="{% url 'schema_edit' schema.pk %}" role="button">Edit scheme</a>
                      <a href="#"
                         class="link-danger del_link"
                         data-bs-toggle="modal"
                         data-bs-target="#deleteModal"
                         data-bs-id="{{schema.seq_number}}"
                         data-bs-url="{% url 'delete_schema' schema.pk %}">
                          Delete</a>

                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% include 'generator/paginator.html' %}
    </div>
</section>
{% include 'generator/delete_modal.html' %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'generator/js/index_delete_modal.js' %}" ></script>
{% endblock %}